.container-cer-afiliados{
    text-align: center;

}
.title-afiliados{
    background-color: aquamarine;
    width: 100%;
    font-style: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
